{
  "root": true,
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  },
  "env": {
    "browser": true,
    "amd": true,
    "node": true,
    "jest": true
  },
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:jest-dom/recommended",
    "plugin:testing-library/react",
    "plugin:jsx-a11y/recommended",
    "plugin:prettier/recommended",
    "prettier",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:unicorn/recommended"
  ],
  "rules": {
    "prettier/prettier": 2,
    "no-console": 2,
    "max-len": [2, { "code": 100 }],
    "consistent-return": 0,
    "import/order": [2, {
      "groups": [
        "builtin",
        "external",
        "internal",
        "parent",
        "sibling",
        "index",
        "unknown"
      ],
      "pathGroups": [
        {
          "pattern": "react**",
          "group": "external",
          "position": "before"
        },
        {
          "pattern": "@material-ui/**",
          "group": "external",
          "position": "after"
        },
        {
          "pattern": "**/*.scss",
          "group": "sibling",
          "position": "after"
        },
        {
          "pattern": "./*.scss",
          "group": "sibling",
          "position": "after"
        }
      ],
      "pathGroupsExcludedImportTypes": [],
      "newlines-between": "never",
      "alphabetize": {
        "order": "asc",
        "caseInsensitive": true
      }
    }],
    "react/prefer-stateless-function": [2, { "ignorePureComponents": true }],
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx"] }],
    "react/jsx-no-literals": [2, {
      "noStrings": true,
      "ignoreProps": true
    }],
    "react/jsx-tag-spacing": [2, {
      "closingSlash": "never",
      "beforeSelfClosing": "always",
      "afterOpening": "never",
      "beforeClosing": "never"
    }],
    "react/jsx-one-expression-per-line": 0,
    "react/jsx-props-no-spreading": [2, {
        "html": "ignore",
        "exceptions": ["Label"]
    }],
    "jsx-a11y/control-has-associated-label": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "unicorn/filename-case": [ 2, {
      "cases": {
        "camelCase": true,
        "pascalCase": true
      }
    }],
    "unicorn/no-array-reduce": 0,
    "unicorn/no-array-for-each": 0,
    "unicorn/no-for-loop": 0,
    "unicorn/prevent-abbreviations": 0,
    "unicorn/explicit-length-check": 0,
    "unicorn/no-object-as-default-parameter": 0,
    "unicorn/no-array-callback-reference": 0,
    "unicorn/numeric-separators-style": 0,
    "unicorn/prefer-spread": 0,
    "unicorn/prefer-add-event-listener": 0,
    "unicorn/prefer-node-protocol": 0,
    "unicorn/prefer-number-properties": 0,
    "unicorn/consistent-function-scoping": 0
  },
  "plugins": ["prettier", "unicorn", "import", "react", "react-hooks", "testing-library", "jest-dom"],
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "sessionStorage": true,
    "FormData": true,
    "FileReader": true,
    "Blob": true,
    "navigator": true
  }
}
